<style type="text/css">
  #example-image{
    width: 100px;
  }
.image-size{

    width: 500px
  }
</style>
<div class="row">
  <div class="col-sm-6">
  <%if @book.image_thumbnail.present? %>
    <div><%= image_tag @book.image_thumbnail, class: "img-responsive image-size" %></div>
  </div>
  <%end%>
  <div class="col-sm-6">
    <div class="row">
    <div class="col-sm-12"><b> Name: </b></b><%= @book.title %></div>
    <div class="col-sm-12"><b> Description: </b><%= @book.description %></div>
    <div class="col-sm-12"><b> Cover Image: </b><%= image_tag @book.book_cover.image, class: "img-responsive", id: "example-image" %></div>
    <div class="col-sm-12"><b> Author: </b><%= @authors.map{ |c| link_to(c.author_name,author_path(c.a_id))}.join(", ").html_safe %></div>
    <div class="col-sm-12"><b> Categories: </b><%= @book.categories.map{ |c| link_to(c.name,category_path(c.id))}.join(", ").html_safe %></div>
    <br>
    <br>
    <br>
    <div class="col-sm-12" style="padding-top: 50px">
      <div class="row">
        <div class="col-sm-2"><%= link_to "Edit", edit_book_path(@book) , class: "btn btn-primary"%>

        </div>
        <div class="col-sm-2"><%= button_to 'Delete', @book, method: :delete, form:{ data: { turbo_confirm: 'Are you sure?' }} ,class: "btn btn-danger" %></div>
      </div>
      <div class="col-sm-8"></div>
    </div>
  </div>


  </div>

</div>
